.mainForm {
    -fx-pref-width: 1178;
    -fx-pref-height: 722;
    -fx-background-color: #1b102e;
}

.mainMenu {
    -fx-alignment: top-center;
    -fx-pref-width: 220;
    -fx-pref-height: 722;
    -fx-background-color: #0f0323;
}

.mainTop {
    -fx-alignment: top-right;
    -fx-pref-width: 1087;
    -fx-pref-height: 170;
    -fx-background-color: rgba(15, 3, 35, 0.9);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 27, 0.6, 0, 0);
}

.mainContent_Small {
    -fx-pref-width: 958;
    -fx-pref-height: 552;
}

.mainContent_Wide {
    -fx-pref-width: 1087;
    -fx-pref-height: 552;
}

.topBackground {
    -fx-alignment: top-right;
    -fx-pref-width: 1087;
    -fx-pref-height: 170;
    -fx-background-size: 1087 auto;
    -fx-background-image: url("../images/mc.jpg");
    -fx-background-position: center -100;
}

.topContent {
    -fx-padding: 19 0 0 31;
}

.menuButtonBackground {
    -fx-fill: linear-gradient(to right, #9c27b0, #6a1b9a);
}

.menuButton {
    -fx-fill: #ffffff;
    -jfx-rippler-fill: #7b1fa2;
}

.mplauncher {
    -fx-translate-y: 46;
    -fx-font-family: 'Montserrat Regular';
    -fx-font-size: 30.5;
}

.textWhite {
    -fx-fill: #ffffff;
}

.textBold {
    -fx-font-family: 'Montserrat Bold';
}

.versionText {
    -fx-font-family: 'Montserrat Regular';
    -fx-font-size: 12;
}

.userAvatar {

}

.fontSize14 {
    -fx-font-size: 14;
}

.fontSize12 {
    -fx-font-size: 12;
}

.fontSize10 {
    -fx-font-size: 10;
}

.fontSize9 {
    -fx-font-size: 9;
}

.fontSize8_5 {
    -fx-font-size: 8.5;
}

.fontSize8 {
    -fx-font-size: 8;
}

.fontLight {
    -fx-font-family: 'Montserrat Light';
}

.fontRegular {
    -fx-font-family: 'Montserrat Regular';
}

.fontBold {
    -fx-font-family: 'Montserrat Bold';
}

.fontSemiBold {
    -fx-font-family: 'Montserrat SemiBold';
}

.fillWhite {
    -fx-fill: #ffffff;
}

.textFillWhite {
    -fx-text-fill: #ffffff;
}

.playButton {
    -fx-background-color: linear-gradient(to right, #9c27b0, #6a1b9a);
    -fx-background-radius: 15px;
}

.userOnline_GREEN {
    -fx-fill: #0cfa00;
    -fx-effect: dropshadow(gaussian, #0cfa00, 15, 0.3, 0, 0);
}

.userOnline_RED {
    -fx-fill: #fa000c;
    -fx-effect: dropshadow(gaussian, #fa000c, 15, 0.3, 0, 0);
}

.userName {
    -fx-font-family: 'Montserrat SemiBold';
    -fx-font-size: 14;
    -fx-text-fill: #ffffff;
}

.fancyText {
    -fx-pref-width: 250;
}

.fancyText_1 {
    -fx-translate-y: 150;
    -fx-font-family: 'Montserrat SemiBold';
    -fx-font-size: 14;
    -fx-fill: linear-gradient(to right, #9c27b0, #6a1b9a);
}

.fancyText_2 {
    -fx-translate-y: 215;
    -fx-font-family: 'Montserrat SemiBold';
    -fx-font-size: 24;
    -fx-fill: linear-gradient(to right, #9c27b0, #6a1b9a);
}

.fancyText_3_Container {
    -fx-translate-y: 351;
}

.fancyText_3 {
    -fx-font-family: 'Montserrat SemiBold';
    -fx-font-size: 20;
    -fx-line-spacing: 1px;
    -fx-fill: linear-gradient(to right, #9c27b0, #6a1b9a);
}

.newsContent {
    -fx-background-color: #0f0323;
}

.newsTitle {
    -fx-font-family: 'Montserrat SemiBold';
    -fx-font-size: 12;
    -fx-line-spacing: 0.6px;
    -fx-fill: #ffffff;
}

.newsImage {
    -fx-background-image: url('../images/mc.jpg');
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.newsArticle {
    -fx-font-family: 'Montserrat Regular';
    -fx-font-size: 11;
    -fx-text-fill: #ffffff;
}

.newsAuthor {
    -fx-font-family: 'Montserrat SemiBold';
    -fx-font-size: 11;
    -fx-fill: #7b1fa2;
}

.newsTime {
    -fx-font-family: 'Montserrat Thin';
    -fx-font-size: 11;
    -fx-fill: #ffffff;
}

/* MODPACK LIST MENU */


/* SERVER LIST MENU */
.serverMenuBP {
    -fx-background-color: #0f0323;
}

.serverMenuTop {
    -fx-background-color: #090118;
}

/* NORMAL */
.serverListIndicator {
    -fx-background-color: #1d0c38;
}
.serverListIndicator Label {
    -fx-font-family: 'Montserrat SemiBold';
    -fx-font-size: 10;
    -fx-text-fill: #ffffff;
}

.serverListContainer {
    -fx-background-color: #080015;
}

.serverListScrollPane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.serverListScrollPane > .viewport {
    -fx-background-color: #080015;
}

.serverListScrollPane .scroll-bar:horizontal,
.serverListScrollPane .scroll-bar:vertical {
    -fx-background-color: #000000;
}

.serverListScrollPane .scroll-bar:horizontal .thumb,
.serverListScrollPane .scroll-bar:vertical .thumb {
    -fx-background-color: linear-gradient(to right, #9c27b0, #6a1b9a);
    -fx-background-insets: 0;
    -fx-background-radius: 0em;
}

.serverListScrollPane .scroll-bar:horizontal .increment-button,
.serverListScrollPane .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

.serverListScrollPane .scroll-bar:vertical .increment-button,
.serverListScrollPane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.serverListScrollPane .scroll-bar .increment-arrow,
.serverListScrollPane .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.serverList {
    -fx-background-color: transparent;
}

.serverList .jfx-list-cell {
    -fx-padding: 0 0 0 24;
}

.serverList .jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: #7b1fa2;
}

.serverList .jfx-list-cell Label
{
    -fx-fill: #333333;
    -fx-text-fill: #646464;
}

/* SELECTED */
.serverList .jfx-list-cell:selected {
    -fx-background-color: rgba(255, 255, 255, 0.03);
}

.serverList .jfx-list-cell:selected Label
{
    -fx-text-fill: #ffffff;
    -fx-fill: #ffffff;
}

/* NORMAL */
.selectList {
    -fx-padding: 0px;
}

.selectList, .jfx-list-cell {
    -fx-background-color: transparent;
    -fx-font-family: 'Montserrat Light';
    -fx-font-size: 10px;
}

.selectList .jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: #7b1fa2;
}

.selectList .jfx-list-cell FontAwesomeIconView,
.selectList .jfx-list-cell Label
{
    -fx-fill: #341961;
    -fx-text-fill: #ffffff;
}

/* SELECTED */
.selectList .jfx-list-cell:selected {
    -fx-background-color: rgba(255, 255, 255, 0.05);
}

.selectList .jfx-list-cell:selected FontAwesomeIconView,
.selectList .jfx-list-cell:selected Label
{
    -fx-text-fill: #ffffff;
    -fx-fill: #ffffff;
}

/* closeApp */
.closeApp {
    -jfx-rippler-fill: #7b1fa2;
}

.closeApp FontAwesomeIconView,
.closeApp Label
{
    -fx-background-color: transparent;
    -fx-font-family: 'Montserrat Light';
    -fx-font-size: 10px;
    -fx-fill: #FFFFFF;
    -fx-text-fill: #FFFFFF;
}

/* INSTALLER DIALOG */
.installerContent Label {
    -fx-font-size: 10px;
    -fx-text-fill: #FFFFFF;
}

.jfx-progress-bar > .track {
    -fx-background-color: #a7a7a7;
    -fx-background-radius: 5px;
}

.jfx-progress-bar > .bar {
    -fx-background-color: linear-gradient(to bottom, #9c27b0, #6a1b9a);
    -fx-background-radius: 5px;
}

.jfx-progress-bar {
    /*-fx-effect: innershadow(gaussian, #000000, 4.6, 0.4, 0, 0);*/
}

.jfx-dialog-overlay-pane {
    -fx-background-color: rgba(0, 0, 0, 0.48);
}

/* SETTINGS DIALOG */
.settingsContent {
    -fx-background-color: #1b102e;
    -fx-background-radius: 5px;
}

.settingsContent JFXRippler {
    -jfx-rippler-fill: #7b1fa2;
}

.closeIcon {
    -fx-fill: linear-gradient(to right, #9c27b0, #6a1b9a);
    -fx-font-size: 25px !important;
}

.specialButton {
    -fx-background-color: linear-gradient(to right, #9c27b0, #6a1b9a);
    -fx-background-radius: 15px;
}

.settingOption JFXCheckBox {
    -jfx-checked-color: #9c27b0/*linear-gradient(to right, #9c27b0, #6a1b9a) THROWS ClassCastException!*/;
}

.settingOption JFXCheckBox .box,
.settingOption JFXCheckBox:selected .box {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 0px;
    -fx-border-color: linear-gradient(to right, #9c27b0, #6a1b9a);
}

.settingOption JFXCheckBox .mark {
    -fx-shape: "M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z";
    -fx-max-width: 10px;
    -fx-max-height: 9px;
}

.settingOption JFXComboBox,
.firstRunContent JFXComboBox,
.firstRunContent JFXTextField {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: linear-gradient(to right, #9c27b0, #6a1b9a);

    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
    -fx-text-fill: #FFFFFF;
}

.settingOption JFXComboBox .list-cell,
.firstRunContent JFXComboBox .list-cell {
    -fx-font-family: 'Montserrat Light';
    -fx-font-size: 10px;
    -fx-text-fill: #FFFFFF;
}

.settingOption JFXComboBox .list-cell:selected,
.firstRunContent JFXComboBox .list-cell:selected {
    -fx-font-family: 'Montserrat SemiBold';
}

.settingOption JFXComboBox .list-view,
.firstRunContent JFXComboBox .list-view {
    -fx-background-color: linear-gradient(to right, #9c27b0, #6a1b9a);
}

/* FIRSTRUN DIALOG */
.firstRunContent {
    -fx-background-color: linear-gradient(to bottom, #140036, #1f0126);
}

.firstRunContent Text {
    -fx-fill: #FFFFFF;
}

.firstRunContent Text .dimmy {
    -fx-fill: #888888;
}

.firstRunContent JFXRadioButton {
    -jfx-selected-color: #9c27b0;
    -jfx-unselected-color: #9c27b0;
}

.firstRunContent .radioHBox {
    -fx-padding: 25 0 0 0;
}

/* ERROR DIALOG */
.errorOverlayContent {
    -fx-background-color: linear-gradient(to bottom, #140036, #1f0126);
}

.errorOverlayContent JFXRippler {
    -jfx-rippler-fill: #9c27b0;
}

.errorOverlayContent JFXTextArea {
    -fx-background-image: url("../images/WeSmartCroppedTransparent.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right top;
    -fx-background-size: auto 140px;
    -jfx-unfocus-color: #6a1b9a;
    -jfx-focus-color: #9c27b0;
}

.errorOverlayContent FlowPane {
    -fx-padding: 0 8 8 8;
}

.errorOverlayIcon {
    -fx-fill: linear-gradient(to right, #9c27b0, #6a1b9a);
}

.borderedButton {
    -jfx-disable-visual-focus: true;
    -fx-background-color: transparent;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-color: linear-gradient(to top, #9c27b0, #6a1b9a);
    /*-fx-border-image-width: 3px;*/
}

.filledButton {
    -fx-background-color: linear-gradient(to right, #9c27b0, #6a1b9a);
    -fx-background-radius: 15px;
}

.errorOverlayContent JFXTextArea .scroll-bar:horizontal,
.errorOverlayContent JFXTextArea .scroll-bar:vertical {
    -fx-background-color: #000000;
}

.errorOverlayContent JFXTextArea .scroll-bar:horizontal .thumb,
.errorOverlayContent JFXTextArea .scroll-bar:vertical .thumb {
    -fx-background-color: linear-gradient(to right, #9c27b0, #6a1b9a);
    -fx-background-insets: 0;
    -fx-background-radius: 0em;
}

.errorOverlayContent JFXTextArea .scroll-bar:horizontal .increment-button,
.errorOverlayContent JFXTextArea .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

.errorOverlayContent JFXTextArea .scroll-bar:vertical .increment-button,
.errorOverlayContent JFXTextArea .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.errorOverlayContent JFXTextArea .scroll-bar .increment-arrow,
.errorOverlayContent JFXTextArea .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}